.main-navigation {
  color: #ffffff;
  background-color: $secondary-color;

	clear: both;
	display: block;
	float: left;
  width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			position: absolute;
			z-index: 99999;
			top: 100%;
			left: -999em;
      float: left;
      padding: 15px 25px;
      background-color: $primary-color;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

			ul {
				left: -999em;
				top: 0;
			}

			li {
        margin-bottom: 10px;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
        text-decoration: underline;
			}
    }

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		float: left;

		&:hover > a,
		&.focus > a {
      background-color: $primary-color;
		}
  }

  .nav-menu > li > a {
    padding: 13px 25px;
    font-weight: 600;
  }

	a {
		display: block;
    text-decoration: none;
    color: #ffffff;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
    background-color: $primary-color;
	}
}

.footer-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  .current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
    background-color: transparent;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
  }

  .footer-nav ul {
    display: inline-block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
