.sticky {
	display: block;
}

.hentry {
	margin-bottom: 1.5rem;
}

.updated:not(.published) {
	display: none;
}

.page-title {
  font-size: 2rem;
}

.entry-title {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.list-entry {
  &-title {
    margin-bottom: 5px;
    font-size: 1.1rem;
  }

  &-meta {
    font-size: 12px;
    color: #a3a3a3;
  }

  &-content {
    margin-bottom: 0;
  }
}
